<article class="card">
  <header>
    <h3>{{content.title}}</h3>
  </header>
  <section>
    <div class="img-container">
      <img src="{{content.image}}" alt="">
    </div>
    <div class="description">
      <p>{{content.description}}</p>
    </div>
  </section>
  <footer>
    <span>{{content.date}}</span>
  </footer>
</article>
