article {
  border: 1px #000 solid;
  border-radius: 5px;
  padding: 10px;
}
.img-container {
  display: flex;
  justify-content: center;
  img {
    max-width: 250px;
    width: 250px;
  }
}
footer {
  display: flex;
  justify-content: flex-end;
}
