<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <header class="title">
    <h1>Laboratorio 1</h1>
  </header>
  <main class="card-container">
    <div class="new-card">
      <div>
        <label for="title">Title:</label>
        <input type="text" id="title" [(ngModel)]="newItem.title" />
      </div>
      <div>
        <label for="description">Description:</label>
        <textarea id="description" [(ngModel)]="newItem.description"></textarea>
      </div>
      <div>
        <label for="image">Image Name:</label>
        <input type="text" id="image" [(ngModel)]="newItem.image" />
      </div>
      <div>
        <label for="date">Date:</label>
        <input type="text" id="date" [(ngModel)]="newItem.date" />
      </div>
      <div>
        <button (click)="addNewItem()" [disabled]="newItem.title === ''">
          Add
        </button>
      </div>
    </div>
    <div class="list-items">
      <lab-card
        *ngFor="let item of items"
        [id]="item.id"
        [content]="item"
      ></lab-card>
    </div>
  </main>
  <footer>
    @copyright 2019
  </footer>
</div>
