.title {
  text-align: center;
}
.new-card {
  display: flex;

}
.list-items {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  lab-card {
    width: 30%;
    margin-bottom: 10px;
  }
}
